Package: com.iexiled.bannerstatus
Name: BannerStatus
Priority: optional
Depends: firmware (>= 7.0.2), mobilesubstrate, preferenceloader, applist
Version: 0.0.1
Architecture: iphoneos-arm
Description: iOS Tweak that allows total customization of the native iOS banner notifications!
Maintainer: Michael Poole
Author: Michael Poole <support@iexiled.com
Homepage: http://www.iExiled.com
Section: Tweaks
Sponsor: Alex Zielenski <support@alexzielenski.com>
Depiction: http://repo.alexzielenski.com/depictions/TinyBar.html