<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.alexzielenski.tinybar</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>alternateColors</key>
            <true/>
            <key>PostNotification</key>
            <string>com.alexzielenski.tinybar/prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Banner Height</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.alexzielenski.tinybar</string>
			<key>key</key>
			<string>height</string>
			<key>default</key>
			<real>20.0</real>
			<key>min</key>
			<real>20.0</real>
			<key>max</key>
			<real>60.0</real>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
            <string>com.alexzielenski.tinybar/prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Banner Duration</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.alexzielenski.tinybar</string>
			<key>key</key>
			<string>duration</string>
			<key>default</key>
			<real>6.375</real>
			<key>min</key>
			<real>1.0</real>
			<key>max</key>
			<real>30</real>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
            <string>com.alexzielenski.tinybar/prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Scroll Speed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.alexzielenski.tinybar</string>
			<key>key</key>
			<string>speed</string>
			<key>default</key>
			<real>85</real>
			<key>min</key>
			<real>10.0</real>
			<key>max</key>
			<real>320</real>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
            <string>com.alexzielenski.tinybar/prefsChanged</string>
		</dict>
	</array>
	<key>title</key>
	<string>TinyBar</string>
</dict>
</plist>
