<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.alexzielenski.tinybar</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
            <key>PostNotification</key>
            <string>com.alexzielenski.tinybar/prefsChanged</string>
            <key>id</key>
            <string>enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Behavior</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.alexzielenski.tinybar</string>
			<key>key</key>
			<string>scrollToEnd</string>
			<key>label</key>
			<string>Scroll To End</string>
            <key>PostNotification</key>
            <string>com.alexzielenski.tinybar/prefsChanged</string>
            <key>id</key>
            <string>scrollToEnd</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.alexzielenski.tinybar</string>
			<key>key</key>
			<string>sticky</string>
			<key>label</key>
			<string>Sticky Notifications</string>
            <key>PostNotification</key>
            <string>com.alexzielenski.tinybar/prefsChanged</string>
            <key>id</key>
            <string>sticky</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.alexzielenski.tinybar</string>
			<key>key</key>
			<string>stretchBanner</string>
			<key>label</key>
			<string>Stretch Banner to Width</string>
            <key>PostNotification</key>
            <string>com.alexzielenski.tinybar/prefsChanged</string>
            <key>id</key>
            <string>stretchBanner</string>
            <key>requiredCapabilities</key>
            <array>
            	<dict>
            		<key>device-name</key>
            		<string>iPad</string>
            	</dict>
            </array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Appearance</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.alexzielenski.tinybar</string>
			<key>key</key>
			<string>showIcon</string>
			<key>label</key>
			<string>Show Icon</string>
            <key>PostNotification</key>
            <string>com.alexzielenski.tinybar/prefsChanged</string>
            <key>id</key>
            <string>showIcon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.alexzielenski.tinybar</string>
			<key>key</key>
			<string>showTitle</string>
			<key>label</key>
			<string>Show Title</string>
            <key>PostNotification</key>
            <string>com.alexzielenski.tinybar/prefsChanged</string>
            <key>id</key>
            <string>showTitle</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Banner Height (px)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.alexzielenski.tinybar</string>
			<key>key</key>
			<string>height</string>
			<key>default</key>
			<real>20.0</real>
			<key>min</key>
			<real>20.0</real>
			<key>max</key>
			<real>64.0</real>
			<key>showValue</key>
			<true/>
			<key>id</key>
			<string>height</string>
			<key>PostNotification</key>
            <string>com.alexzielenski.tinybar/prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Banner Duration (sec)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.alexzielenski.tinybar</string>
			<key>key</key>
			<string>duration</string>
			<key>default</key>
			<real>6.375</real>
			<key>min</key>
			<real>1.0</real>
			<key>max</key>
			<real>30</real>
			<key>showValue</key>
			<true/>
			<key>id</key>
			<string>duration</string>
			<key>PostNotification</key>
            <string>com.alexzielenski.tinybar/prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Long Banner Duration (sec)</string>
			<key>footerText</key>
			<string>For banners that need to scroll. Overridden if Scroll To End is enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.alexzielenski.tinybar</string>
			<key>key</key>
			<string>durationLong</string>
			<key>default</key>
			<real>10.375</real>
			<key>min</key>
			<real>1.0</real>
			<key>max</key>
			<real>30</real>
			<key>showValue</key>
			<true/>
			<key>id</key>
			<string>durationLong</string>
			<key>PostNotification</key>
            <string>com.alexzielenski.tinybar/prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Scroll Speed (px/sec)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.alexzielenski.tinybar</string>
			<key>key</key>
			<string>speed</string>
			<key>default</key>
			<real>85</real>
			<key>min</key>
			<real>10.0</real>
			<key>max</key>
			<real>320</real>
			<key>showValue</key>
			<true/>
			<key>id</key>
			<string>speed</string>
			<key>PostNotification</key>
            <string>com.alexzielenski.tinybar/prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>TinyBar 0.0.4 © 2014 Alex Zielenski</string>
			<key>isStaticText</key>
            <true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset to Defaults</string>
			<key>action</key>
			<string>resetDefaults:</string>
			<key>id</key>
			<string>reset</string>
		</dict>
        <dict>
            <key>action</key>
            <string>visitWebsite:</string>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Visit My Website</string>
        </dict>
        <dict>
            <key>action</key>
            <string>visitTwitter:</string>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Twitter @alexzielenski</string>
        </dict>
	</array>
	<key>title</key>
	<string>TinyBar</string>
</dict>
</plist>
